<div class="text-center">
  <h1>Editing article</h1>
    <%= simple_form_for@article do |f| %>

      <%= f.input :title, class: "form_control" %>
      <%= f.input :content, class: "form_control" %>
      <%= f.label :picture %>
      <%= f.file_field :picture %>

      <%= f.button :submit, class: "btn-primary", id:"input_validate" %>

    <% end %>
</div>


