 <div id="index_article">
  <div class="text-center">
    <h2 class='tk-europa' >List of articles</h2>
    <div class="text-center container form-inline control-form tk-freight-text-pro">
      <%= search_form_for @q do |f| %>

        <%= f.label :title_cont, "Title contains:", class:'tk-freight-text-pro' %>
        <%= f.search_field :title_cont, class:'form-control' %>

        <%= f.label :content_cont, "Content contain:", class:'tk-freight-text-pro' %>
        <%= f.search_field :content_cont, class:'form-control'%>

        <%= f.submit %>
        <br>
      <% end %>

      <%= sort_link @search, :votes, "Sort by number of votes" %>
      <%= sort_link @search, :created_at, "Sort by date of creation" %>
    </div>

  </div>
  <div class="vertical-spacer"></div>

  <div class="container">
    <% @articles.each do |article| %>
<!--
tk-freight-text-pro    descriptoion
tk-jaf-bernino-sans   title -->


      <div class="row tk-europa" id='article'>

        <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2">
          <div class="article_content" id="contenu_width_750">

           <div class="author_details">
             <%= image_tag article.user.picture, class:'img-circle author_picture'%>
               <p>- <%= article.get_upvotes.size %> votes </p>

           </div>
           <%= link_to article_path(article) do %>
           <div class="articles_index_container_picture text-center">
             <% if article.picture %>
               <%= image_tag article.picture, class:'articles_index_picture' %>
             <%end %>
           </div>
            <% end %>
            <div class="tk-jaf-bernino-sans">
              <h4><%= article.title %></h4>

            </div>
            <div class="tk-freight-text-pro">
              <p><%= markdown_to_html(article.content.split(" ").first(35).join(" ") + "...") %></p>
              <br>
            </div>
            <div class="text-left">
              <%= link_to "Read article", article_path(article) %>
            </div>
          </div>
        </div>
        <div class="hidden-xs hidden-md col-lg-4" id="bottom_picture">

        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <hr>
        </div>
      </div>


    <% end %>
  </div>
</div>
