<h1>Articles#new</h1>
<p>Find me in app/views/articles/new.html.erb</p>

<%= simple_form_for(@article, html: { multipart: true }) do |f| %>

  <%= f.input :title, class: "form_control" %>
  <%= f.hidden_field :user_id, :value => current_user.id%>
  <%= f.input :content, class: "form_control" %>
  <%= f.label :picture, class: "form_control" %>
  <%= f.file_field :picture, class: "form_control" %>

  <%= f.button :submit, class: "btn-primary", id:"input_validate" %>

<% end %>

