<%= link_to "Retour", :back, id:"back_link" %>
<div id="article_show">

  <div class="article-show-content">
    <div class="text-center">
      <h2 id='title'><%= @article.title%></h2>
    </div>
    <% if @article.picture %>
      <%= image_tag @article.picture, class:'article_show_picture' %>
    <%end %>
    <div class="content_article">

      <%= @article.title %>
      <%= @article.content %>
      <%= @article.votes %>
    </div>
  </div>
  <div class="article_show_writter">
    <div class="profile_info_writter">
      <%= image_tag @article.user.picture.url(:thumb), class:"writter_picture img-circle" %>
    </div>
  </div>

</div>
