  <div id="retour_link">
    <%= link_to "Retour", :back, id:"back_link_2", class:"tk-europa" %>
  </div>

<div id="article_show">
  <div class="article_show_content">
    <div class="text-center article_show_content_picture">
      <% if @article.picture %>
        <%= image_tag @article.picture, class:'article_show_picture' %>
      <%end %>
    </div>
    <div class="text-center article_show_content_title tk-jaf-bernino-sans">
      <h1 id='title'><%= @article.title%></h1>
      <%= @article.get_upvotes.size %> votes -  <%= link_to "Like this article", like_article_path(@article), method: :put %>
    </div>

    <div class="article_show_content_text tk-freight-text-pro">
      <p class="tk-freight-text-pro"><%= markdown_to_html(@article.content) %></p>
    </div>
  </div>


  <div class="article_show_writter navbar-fixed ">
    <div class="profile_info_writter">
      <div class="text-center">
        <%= image_tag @article.user.picture.url(:thumb), class:"writter_picture img-circle" %>
      </div>
      <div class="text-center tk-freight-text-pro">
        <%= @article.user.first_name %> <%= @article.user.last_name %>
        <hr>
      </div>
      <div class="enterprise_writter text-left">
        <div class="text-center">
          <strong><p class="tk-jaf-bernino-sans"> Author's details </p></strong>
        </div>
        <p class="tk-freight-text-pro">
        <strong>Company:</strong> <%= @article.user.entreprise %>
        <br>
        <strong>Position:</strong> <%= @article.user.function %>
        <br>
        <strong>City:</strong> <%= @article.user.city %>
        <br> <br>
        <%= link_to 'Check profil', profile_path(@article.user), class:'tk-europa', id:'button_profile' %>
        <hr>
      </div>

      <div class="connected_articles text-center">
        <% if @article.user.articles.count >= 3 %>
          <strong><p class="tk-jaf-bernino-sans"> Same author </p></strong>
          <br>
          <% @article.user.articles.sample(2).each do |article| %>
            <% if article.id != @article.id %>
              <div class="content_connected tk-freight-text-pro text-left">
                <strong><p><%= article.title %></p></strong>
                <br>
                <%= link_to "Read more", article_path(article) %>
              </div>
              <div class="picture_connected tk-freight-text-pro">
                <% if article.picture %>
                  <%= image_tag article.picture.url(:thumb), class:'articles_index_picture' %>
                <%end %>
              </div>
              <div class="cleared"> &nbsp;
              </div>
            <% end %>
          <% end %>
        <% end %>
        <hr>
      </div>
      <hr>

    </div>
  </div>
</div>

<div class="comments_part">

    <div class="text-left">
      <div class="col-xs-12 social">
        <%= render_shareable :buttons=> ['twitter', 'facebook', 'linkedin', 'google_plus'] %>
      </div>
      <h4 class='tk-jaf-bernino-sans'> Comments </h4>
      <div class="col-xs-8">
        <hr>
      </div>
      <br>
    </div>

  <div id="comments">
    <% if @article.comments_articles.blank? %>
      <!-- <p id="comments-empty"> Pas de commentaires pour cet article </p> -->
    <% else %>
      <div class="list_of_comments">
        <% @article.comments_articles.each do |comment| %>
          <%= render "comments_articles/show", comment: comment %>
        <% end %>
      </div>
    <% end %>
  </div>
 <div class="text-left" id="comments_creation">
    <%= render 'comments_articles/form', article: @article, comment: @comment %>
 </div>

</div>

