<%= link_to "Retour", :back, id:"back_link_2" %>
<!-- <div class="text-center" id="article_new_page" > -->

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 text-center tk-jaf-bernino-sans">


        <h3>Create projects</h3>

        <%= simple_form_for(@project, html: { multipart: true }) do |f| %>

          <%= f.input :title, class: "form_control" %>
          <%= f.input :city, class: "form_control"%>
          <%= f.input :country, class: "form_control" %>
          <%= f.label :datecreation, "Year of creation", class: "form_control" %>
          <%= f.input :datecreation, class: "form_control", label: false %>
          <%= f.label :area, "Area (kilometers square)", class: "form_control" %>
          <%= f.input :area, label: false, class: "form_control" %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.text_area :content, class: "form_control", data: {provide: "markdown"} %>
          <%= f.input :description, class: "form_control" %>
          <%= f.label :project_advancement, 'Project advancement', class: "form_control" %>
          <%= f.select :project_advancement, ["Initialized", "Started", "In construction", "Finalizing", "Deployed"], class: "form_control" %>
          <br>
          <div class="text-left">
            <%= f.label :picture, class: "form_control " %>
            <%= f.file_field :picture, class: "form_control" %>
          </div>

          <%= f.button :submit, class: "btn-primary", id:"input_validate" %>

        <% end %>
      </div>
    </div>
  </div>
</div>
