<%= content_for(:title) do %>
  <%= @user.first_name %>
<% end %>

<div id="general_account">
  <div class="account_menu">
    <div class="text-center picture_account">
      <%= image_tag current_user.picture.url(:thumb), class:'img-circle' %>
      <br>
      <p><%= current_user.first_name %>  <%= current_user.last_name %></p>
      <div class="col-xs-6">
        <%= link_to "Followings"%>
      </div>
      <div class="col-xs-6">
        <%= link_to "Followers"%>
      </div>
      <% if @user.expertise == nil && @user.requested_rights == "Not sent" %>
        <%= link_to "Request right to publish articles", right_request_account_path, method: :post %>
      <% end %>
      <br>
      <hr>
    </div>
    <div class="text-left account_menu_infos">
      <div class="text-center">
        <p>Profile's information</p>
      </div>
      <ul>
        <li><strong>Company: </strong><%= current_user.entreprise%></li>
        <li><strong>Position: </strong><%= current_user.function%></li>
        <li><strong>City: </strong><%= current_user.city %></li>
        <li><%= link_to "Edit profile", edit_account_path %></li>
      </ul>
      <hr>
    </div>
    <div class="account_menu_links text-center">
      <ul>
        <li id="favorite_articles_link">Favorite articles</li>
        <li id="favorite_projects_link">Favorite microgrids</li>
        <% if current_user.expertise %>
          <li id="my_articles_link">My articles</li>
          <li id="my_projects_link">My microgrids</li>
        <% end %>
      </ul>
    </div>

  </div>
  <div class="account_contain">

    <div id='favorite_articles'>
      <h4> My favorite articles</h4>
      <% current_user.votes.each do |vote| %>
        <% if vote.votable_type == "Article" %>
          <% article = Article.find(vote.votable_id) %>
          <div class="favorite_article col-xs-4">
            <div class="favorite_article_picture text-center">
              <%= image_tag article.picture.url(:medium) %>
              <%= link_to article_path(article) do %>
                <div class="hover_card_article col-xs-4">
                  <div>
                    <h4>Read article</h4>
                  </div>
                </div>
              <% end %>
              <hr>
              <p><%= article.title%></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>



    <div id='favorite_projects'>
     <h4> My favorite projects</h4>
     <% current_user.votes.each do |vote| %>
       <% if vote.votable_type == "Project" %>
         <% project = Project.find(vote.votable_id) %>
         <div class="favorite_project col-xs-4">
           <div class="favorite_project_picture text-center">
             <%= image_tag project.picture.url(:medium) %>
             <%= link_to project_path(project) do %>
               <div class="hover_card_project col-xs-4">
                 <div>
                   <h4>See project</h4>
                 </div>
               </div>
              <% end %>
             <hr>
             <p><%= project.title%></p>
           </div>
         </div>
       <% end %>
     <% end %>
    </div>



    <% if current_user.expertise %>
      <div id='my_articles'></div>
      <div id='my_projects'></div>
    <% end %>
  </div>
</div>


