



<%= content_for(:title) do %>
  <%= @user.first_name %>
<% end %>

<div id="general_account">
  <div class="account_menu">
    <div class="text-center picture_account">
      <%= image_tag current_user.picture.url(:thumb), class:'img-circle' %>
      <br>
      <p><%= current_user.first_name %>  <%= current_user.last_name %>
        <% if @user.expertise == true %>
          - <strong>EXPERT</strong>
        <% end %>
      </p>
      <br>
      <div class="col-xs-6">
        <a class=""  data-toggle="modal" data-target="#myModal" id="myInput">Followings: <%= current_user.all_following.count %></a>
      </div>


      <a class=""  data-toggle="modal" data-target="#myModall" id="myInput">Followers: <%= current_user.followers.count %></a>


      <% if @user.expertise == nil && @user.requested_rights == "Not sent" %>
      <br><br>
        <%= link_to "Request right to publish", right_request_account_path, method: :post %>
      <% end %>
      <% if @user.expertise == nil && (@user.requested_rights == "Pending" || @user.requested_rights == "Rejected") %>
        <br><br>
        <p>Request to post content : <%= @user.requested_rights %></p>
      <% end %>

      <hr>
    </div>
    <div class="text-left account_menu_infos">
      <div class="text-center">
        <p>Profile's information</p>
      </div>
      <ul>
        <li><strong>Company: </strong><%= current_user.entreprise%></li>
        <li><strong>Position: </strong><%= current_user.function%></li>
        <li><strong>City: </strong><%= current_user.city %></li>
        <li><%= link_to "Edit profile", edit_account_path %></li>
      </ul>
      <hr>
    </div>
    <div class="account_menu_links text-center">
      <ul>
        <li id="favorite_articles_link">Favorite articles</li>
        <li id="favorite_projects_link">Favorite microgrids</li>
        <% if current_user.expertise %>
          <li id="my_articles_link">My articles</li>
          <li id="my_projects_link">My microgrids</li>
        <% end %>
      </ul>
    </div>

  </div>
  <div class="account_contain">

    <div id='favorite_articles'>
      <h4> My favorite articles</h4>
      <% current_user.votes.each do |vote| %>
        <% if vote.votable_type == "Article" %>
          <% article = Article.find(vote.votable_id) %>
          <div class="favorite_article col-xs-12 col-md-6 col-lg-4">
            <div class="favorite_article_picture text-center">

              <%= link_to article_path(article) do %>
              <%= image_tag article.picture.url(:medium) %>
                <div class="hover_card_article col-xs-12 col-md-6 col-lg-4">
                  <div>
                    <h4>Read article</h4>
                  </div>
                </div>
              <% end %>
              <hr>
              <p><%= article.title%></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>



    <div id='favorite_projects'>
     <h4> My favorite Microgrids</h4>
     <% current_user.votes.each do |vote| %>
       <% if vote.votable_type == "Project" %>
         <% project = Project.find(vote.votable_id) %>
         <div class="favorite_project col-xs-12 col-md-6 col-lg-4">
           <div class="favorite_project_picture text-center">
             <%= link_to project_path(project) do %>
             <%= image_tag project.picture.url(:medium) %>
               <div class="hover_card_project col-xs-12 col-md-6 col-lg-4">
                 <div>
                   <h4>See project</h4>
                 </div>
               </div>
              <% end %>
             <hr>
             <p><%= project.title%></p>
           </div>
         </div>
       <% end %>
     <% end %>
    </div>



    <% if current_user.expertise %>
      <div id='my_articles'>
        <h4> My articles</h4>
        <% current_user.articles.each do |article| %>
          <div class="my_favorite_article col-xs-12 col-md-6 col-lg-4">
            <div class="my_favorite_article_picture text-center">
              <%= link_to article_path(article) do %>
              <%= image_tag article.picture.url(:medium) %>
                <div class="hover_card_my_article col-xs-12 col-md-6 col-lg-4">
                  <div>
                    <h4>Read my article</h4>
                  </div>
                </div>
              <% end %>
              <hr>
              <p><%= article.title%></p>
              <p><%= link_to 'Edit article |', edit_article_path(article) %>  <%= link_to ' Destroy article', article_path(article),
            :confirm => 'Are you sure?', :method => :delete %></p>
            </div>
          </div>
        <% end %>
      </div>

      <div id='my_projects'>
        <h4> My projects</h4>
        <% current_user.projects.each do |project| %>
          <div class="my_favorite_project col-xs-12 col-md-6 col-lg-4">
            <div class="my_favorite_project_picture text-center">
              <%= link_to project_path(project) do %>
              <%= image_tag project.picture.url(:medium) %>
                <div class="hover_card_my_project col-xs-12 col-md-6 col-lg-4">
                  <div>
                    <h4>See my project</h4>
                  </div>
                </div>
              <% end %>
              <hr>
              <p><%= project.title%></p>
              <p><%= link_to 'Edit project |', edit_project_path(project) %><%= link_to ' Destroy article',project_path(project),
            :confirm => 'Are you sure?', :method => :delete %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <h4 class="text-center">My Followings </h4>
  <% current_user.all_following.each do |following| %>
    <div class="text-center contain_modal" style="padding-left: 200px; padding-right: 200px;">
      <div class="col-xs-3">
        <%= image_tag following.picture.url(:thumb), class:'img-circle img_follow' %>
      </div>
      <div class="col-xs-4 align_ver">
        <p><%= following.first_name %> <%= following.last_name %> | <%= following.function %> at <%= following.entreprise %></p>
      </div>
      <div class="col-xs-5 align_ver">
        <p><%= link_to 'Check Profile |', profile_path(following) %><%= link_to ' Unfollow', unfollow_profile_path(following) %></p>
      </div>
      <div class="col-xs-12">
        <hr>
      </div>
    </div>
  <% end %>
    <p type="button" class="close_button" data-dismiss="modal">Close X</p>
</div><!-- /.modal-dialog -->

<div class="modal fade" id="myModall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <h4 class="text-center">My Followers </h4>
  <% current_user.followers.each do |following| %>
    <div class="text-center contain_modal" style="padding-left: 200px; padding-right: 200px;">
      <div class="col-xs-3">
        <%= image_tag following.picture.url(:thumb), class:'img-circle img_follow' %>
      </div>
      <div class="col-xs-4 align_ver">
        <p><%= following.first_name %> <%= following.last_name %> | <%= following.function %> at <%= following.entreprise %></p>
      </div>
      <div class="col-xs-5 align_ver">
        <p><%= link_to 'Check Profile', profile_path(following) %></p>
      </div>
      <div class="col-xs-12">
        <hr>
      </div>
    </div>
  <% end %>
    <p type="button" class="close_button" data-dismiss="modal">Close X</p>
</div><!-- /.modal-dialog -->

